body {
  background-color: #001F46;
}

.jumbotron {
  color: #fff;
  text-align: center;
  background-color: #001f46;
}
.btn-signal {

  background-color: #E53863;
  color: #fff;

}
.form-style {
  color: #FFF;
}
.text-field::-webkit-input-placeholder {
    color: #E53863;
}
.right-inner-addon input {
    background-color:#FFF;
    color:#E53863;
}

.signal-frame {
  /*border-style: solid;*/
  border: 5px solid #E53863;
  border-radius: 1%;
  /*border-color: #E53863;*/
}

.has-signal, .custom-select {
  color:#FFF;
}
